.titulo {
  font-size: 20px;
}

.sub_titulo {
  font-size: 15px;
}

.buscadorTabla {
  display: flex;
  margin-top: 80px;
  margin-left: 10px;
  align-items: center;
  align-content: stretch;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 65px;
}

.buscadorImg {
  height: 35px;
}

.buscadorTxT {
  background: linear-gradient(0deg, rgba(20, 24, 69, 0.5) 0%, rgba(118, 124, 210, 0.5) 100%);
  width: 446px;
  height: 45px;
  border: none;
  color: white;
  margin-right: 8px;
  border-radius: 0px 5px 5px 0px;
}

.buscadorTxT input[type="search"] {
  text-indent: 15px;
  font-size: 25px;
}

.table-container {
  background: linear-gradient(0deg, rgba(26, 36, 123, 1) 0%, rgba(23, 32, 109, 1) 100%);
  display: flex;
  width: 100%;
  height: 81%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 10px;
}

.interceptor_row {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.estaciones_interceptor {
  display: none;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.estaciones_header {
  background: linear-gradient(180deg, rgba(153, 164, 246, 1) 0%, rgba(153, 164, 246, 1) 10%, rgba(79, 93, 216, 1) 10%);
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 0 0 25px 25px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.estacion_row {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.btn_goParticular {
  width: 66px;
  height: 61px;
  margin: 0 0 -2px -2px;
  border: none;
}

.data_row {
  display: flex;
  width: 100%;
  height: 60px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.Columna_Nombre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signals_estacion {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 269px;
}


.info_estacion_row {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}

.estacionimg_div {
  display: block;
}

.signals_div {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}

.ImgEstacion {
  display: flex;
  flex-direction: column-reverse;
  width: 161px;
  height: 246px;
  border-radius: 8px;
}

.gradiant_div {
  border-radius: 10px;
  border: 10px solid transparent;
  background: linear-gradient(0deg, #11ffff, #0e3167) border-box;
  mask: linear-gradient(#00000000 0 0) padding-box, linear-gradient(#000000 0 0);
  mask-composite: exclude;
  width: 201px;
  height: 263px;
}

.signal_nombre {
  background: linear-gradient(0deg, rgba(56, 118, 177, 1) 0%, rgba(19, 35, 86, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 71%;
  height: 41%;
}

.nivel_div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.signal_valor {
  background: linear-gradient(0deg, rgba(57, 160, 177, 1) 0%, rgba(28, 57, 123, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 41%;
}

.semaforos_div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.semaforoCont {
  background: linear-gradient(0deg, rgba(20, 47, 116, 1) 0%, rgba(39, 103, 151, 1) 100%);
  width: 100%;
  height: 29px;
  text-align-last: center;
  align-content: center;
}

.signal_estacion {
  display: flex;
  width: 100%;
  height: 90px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;
}




.id_interceptor {
  background: linear-gradient(0deg, rgba(50, 64, 173, 1) 0%, rgba(80, 93, 207, 1) 100%);
  border-radius: 10px 0 0 10px;
  display: flex;
  width: 8%;
  height: 94%;
  align-items: center;
  justify-content: center;
}

.nombre_interceptor {
  background: linear-gradient(0deg, rgba(16, 50, 98, 1) 0%, rgba(5, 11, 59, 1) 100%);
  display: flex;
  width: 70%;
  height: 95%;
  align-items: center;

}

.nombre_interceptor p {
  margin-left: 5px;
}

.resumen_interceptor {
  background: linear-gradient(0deg, rgba(53, 68, 159, 1) 0%, rgba(20, 33, 114, 1) 100%);
  display: flex;
  width: 22%;
  height: 100%;
  border: 2px solid #8694ED;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}



/* ========== estilos header tabla ================ */
.Columna_ID {
  display: flex;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.Columna_Nombre {
  display: flex;
  width: 43%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Columna_Nivel {
  display: flex;
  width: 12%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Columna_Fecha {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Columna_Hora {
  display: flex;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.estacionNombre {
  background: linear-gradient(0deg, rgba(47, 62, 166, 1) 0%, rgba(81, 87, 183, 1) 100%);
  justify-content: flex-start !important;
}

.estacion_ID {
  background: linear-gradient(0deg, rgba(87, 102, 187, 1) 0%, rgba(128, 136, 217, 1) 100%);
}

.estacion_Nivel {
  background: linear-gradient(0deg, rgba(54, 68, 169, 1) 0%, rgba(75, 88, 202, 1) 100%);
  font-weight: bold;
}

.estacion_Hora {
  background: linear-gradient(0deg, rgba(54, 68, 169, 1) 0%, rgba(75, 88, 202, 1) 100%);
  color: goldenrod;
  font-weight: bold;
}

.estacion_Fecha {
  background: linear-gradient(0deg, rgba(39, 52, 146, 1) 0%, rgba(47, 55, 138, 1) 100%);
}