.table-container {
  display: flex;
  border: 1px dotted aquamarine;
  width: 100%;
  height: 100%;
  margin-top: 58px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}

.interceptor_row {
  display: flex;
  width: 100%;
  height: 50px;
  border: 1px dotted tomato;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.estaciones_interceptor {
  display: none;
  width: 100%;
  border: 1px dotted rgb(255, 175, 3);
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.estaciones_header {
  display: flex;
  width: 100%;
  height: 50px;
  border: 1px dotted rgb(154, 3, 255);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.estacion_row {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.data_row {
  display: flex;
  width: 100%;
  height: 50px;
  border: 1px dotted rgb(255, 175, 3);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.signals_estacion {
  display: none;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.info_estacion_row {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px dotted rgb(255, 3, 3);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.signals_div {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

.signal_estacion {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.id_interceptor {
  width: 10%;
  border: 1px solid red;
}

.nombre_interceptor {
  width: 70%;
  border: 1px solid blue;
}

.resumen_interceptor {
  width: 20%;
  border: 1px solid green;
}