@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 1920px;
  height: 1080px;
  color: white;
  user-select: none;
  -webkit-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  -webkit-user-drag: none !important;
}

body {
  background-color: #00001c;
}

.header {
  width: 1920px;
  height: 58px;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 111;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(35 41 46) 22%,
      rgb(36 44 58) 68%,
      rgb(72 92 139) 84%,
      rgb(113 139 182) 100%,
      rgb(132 162 217) 100%);
  align-items: center;
  justify-content: space-between;
}

.headerImagen {
  display: flex;
  width: 983px;
  height: 57px;
  position: absolute;
  right: 0px;
}

nav {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 30px;
  position: absolute;
  right: 0px;
  top: 66px;
  flex-direction: column;
  flex-wrap: nowrap;
}

nav img {
  width: 25px;
}

main {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: absolute;
}

section {
  position: absolute;
  top: 0;
  width: 1920px;
  height: 1080px;
}

aside {
  position: absolute;
  width: 600px;
  height: 1080px;
  left: 0px;
  z-index: 6;
}

.Content_on_load {
  display: none;
}

.headerBtn__Home,
.headerBtn__Mapa,
.headerBtn__Graficador,
.headerBtn__Login {
  display: flex;
  align-items: center;
  border-bottom: solid rgb(47 12 168) 5px;
  cursor: pointer;
  background: #00345d;
  width: 60px;
  height: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.headerBtn__Login {
  border: none;
}

.header__active {
  color: rgb(155, 155, 38);
}

.header__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
  /* top: 0; */
  left: 695px;
}

.header__title h1 {
  font-size: 25px;
}

.section__home {
  z-index: 5;
}

.section__vistaMapa {
  z-index: 4;
}

.section__graficador {
  z-index: 3;
}

.section__login {
  z-index: 2;
}

.section__particular {
  z-index: 1;
}

.header__btnRegresar {
  display: flex;
  position: absolute;
  left: 1162px;
  width: 45px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 15px;
  padding: 20px;
  transition: color 0.4s ease;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.header__btnRegresar img {
  width: 100px;
}

.header__btnRegresar:hover {
  color: goldenrod;
}

.unidades {
  color: white !important;
  font-size: 0.75em;
  letter-spacing: 1px;
}

/*Texto Mantenimeinto*/

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

}

/* loading Screen */
:root {
  --border-width: 7px;
}

.sec-loading {
  z-index: 6;
  height: 70vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-loading .one {
  height: 80px;
  width: 80px;
  border: var(--border-width) solid white;
  transform: rotate(45deg);
  border-radius: 0 50% 50% 50%;
  position: relative;
  animation: move 0.5s linear infinite alternate-reverse;
}

.sec-loading .one::before {
  content: "";
  position: absolute;
  height: 55%;
  width: 55%;
  border-radius: 50%;
  border: var(--border-width) solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
}

.textloading {
  align-content: center;
  text-align-last: center;
  font-size: xx-large;
  margin-left: -40px;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes move {
  to {
    transform: translateY(15px) rotate(45deg);
  }
}