.news {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 58px;
    z-index: 6;
    background: #171b1e;
    overflow: hidden;
}

.news_element {
    height: 100%;
    display: flex;
    width: 160px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    padding: 5px;
    font-weight: bold;
    text-shadow: 0 0 black;
    border-radius: 10px;
}

.news_element_interceptor {
    font-size: 12px;
}

.news_element_estacion {
    font-size: 15px;
}

.news_element_nivel {
    font-size: 11px;
}