.contenedor_dial {
    position: absolute;
    width: 960px;
    height: 540px;
    /* border: 1px solid lime; */
    right: 0px;
    bottom: 0px;
}

.dial_secuencias_interceptores {}

.dial_secuencias_btn_izquiero {}

.dial_secuencias_btn_derecho {}

.contenedor_botones {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.dial_button_left {
    position: absolute;
    width: 100px;
    height: 200px;
    /* border: 1px solid blue; */
    left: 375px;
    bottom: 50px;
}

.dial_button_right {
    position: absolute;
    width: 100px;
    height: 200px;
    /* border: 1px solid red; */
    left: 485px;
    bottom: 50px;
}

.dial_button_interceptor {
    position: absolute;
    transform: rotate(-1deg);
    background: #13193b;
    width: 50px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-shadow: 0 0 black;
    border-radius: 5px;
}

.elemento_dial {
    position: absolute;
    display: none;
}