.titulo {
  font-size: 15px;
}

.sub_titulo {
  font-size: 12px;
}

.textoValor {
  font-size: 22px;
}

.buscadorTabla {
  display: flex;
  margin-top: 40px;
  margin-left: 10px;
  align-items: center;
  align-content: stretch;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 58px;
}

.buscadorImg {
  height: 35px;
}

.buscadorTxT {
  background: linear-gradient(0deg, rgba(20, 24, 69, 0.5) 0%, rgba(118, 124, 210, 0.5) 100%);
  width: 390px;
  height: 40px;
  border: none;
  color: white;
  margin-right: 8px;
  border-radius: 0px 5px 5px 0px;
}

.buscadorTxT input[type="search"] {
  text-indent: 15px;
  font-size: 25px;
}

.table-container {
  background: linear-gradient(0deg, rgba(26, 36, 123, 1) 0%, rgba(23, 32, 109, 1) 100%);
  display: flex;
  width: 100%;
  height: auto;
  max-height: 1000px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  /* border-color: rgb(27, 27, 100);
  border-width: 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  border-style: solid; */
  /* overflow-x: hidden;
  overflow-y: scroll; */

  &::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: url("https://virtualwavecontrol.com.mx/RecursosWeb/WebCore24/Lumbreras/Tabla/scrollTablaBase.png");
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: url("https://virtualwavecontrol.com.mx/RecursosWeb/WebCore24/Lumbreras/Tabla/scrollTabla.png");
    border-radius: 4px;
  }
}

.interceptor_row {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.intecpetorFlechaImg {
  height: 25px;
}

.estaciones_interceptor {
  display: none;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.estaciones_header {
  background: linear-gradient(0deg, rgba(153, 164, 246, 1) 0%, rgba(26, 63, 143, 1) 50%, rgba(24, 87, 182, 1) 100%);
  color: #40e0d0;
  display: flex;
  width: 100%;
  height: 36px;
  border-radius: 15px 15px 0 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.estacion_row {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.btn_goParticular {
  width: 37px;
  height: 33px;
  border: none;
  cursor: pointer;
}

.data_row {
  z-index: 1;
  background: #8694ED;
  display: flex;
  width: 100%;
  height: 48px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.data_row > * {
  pointer-events: none;
}

.Columna_Nombre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signals_estacion {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 112px;
}


.info_estacion_row {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}

.estacionimg_div {
  display: block;
}

.signals_div {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}

.ImgEstacion {
  display: flex;
  flex-direction: column-reverse;
  width: 133px;
  max-width: 133px;
  height: 102px;
  border-radius: 8px;
  margin: -3px -5px -0px -6px;
}

.gradiant_div {
  background: linear-gradient(0deg, #11ffff, #0e3167) border-box;
  mask: linear-gradient(#00000000 0 0) padding-box, linear-gradient(#000000 0 0);
  border-radius: 10px;
  border: 10px solid transparent;
  mask-composite: exclude;
  height: 112px;
}

.signal_nombre {
  background: linear-gradient(0deg, rgba(56, 118, 177, 1) 0%, rgba(19, 35, 86, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 27px;
}

.nivel_div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.signal_valor {
  background: linear-gradient(0deg, rgba(57, 160, 177, 1) 0%, rgba(28, 57, 123, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 34%;
  height: 100%;
}

.semaforos_div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.semaforoCont {
  background: linear-gradient(0deg, rgba(31, 49, 149, 1) 0%, rgba(24, 87, 182, 1) 100%);
  width: 100%;
  height: 29px;
  text-align-last: center;
  align-content: center;
}

.signal_estacion {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;
}

.id_interceptor {
  background: linear-gradient(0deg, rgba(50, 64, 173, 1) 0%, rgba(80, 93, 207, 1) 100%);
  border-radius: 10px 0 0 10px;
  display: flex;
  width: 8%;
  height: 94%;
  align-items: center;
  justify-content: center;
}

.nombre_interceptor {
  background: linear-gradient(0deg, rgba(16, 50, 98, 1) 0%, rgba(5, 11, 59, 1) 100%);
  display: flex;
  width: 70%;
  height: 95%;
  align-items: center;

}

.nombre_interceptor p {
  margin-left: 5px;
}

.resumen_interceptor {
  background: linear-gradient(0deg, rgba(53, 68, 159, 1) 0%, rgba(20, 33, 114, 1) 100%);
  display: flex;
  width: 22%;
  height: 100%;
  border: 2px solid #8694ED;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}



/* ========== estilos header tabla ================ */
.Columna_ID {
  display: flex;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.Columna_Nombre {
  display: flex;
  width: 47%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Columna_Nivel {
  display: flex;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Columna_Fecha {
  display: flex;
  width: 26%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Columna_Hora {
  display: flex;
  width: 18%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Columna_EstacionEnlace {
  width: 20%;
}

.Columna_EstacionNombre {
  width: 100%;
}

.Columna_EstacionAlerta {
  width: 20%;
}

.estacionNombre {
  background: linear-gradient(0deg, rgba(47, 62, 166, 1) 0%, rgba(81, 87, 183, 1) 100%);
  justify-content: flex-start !important;
}

.estacion_ID {
  background: linear-gradient(0deg, rgba(87, 102, 187, 1) 0%, rgba(128, 136, 217, 1) 100%);
}

.alertaEstacion {
  display: flex;
}

.estacion_Nivel {
  background: linear-gradient(0deg, rgba(54, 68, 169, 1) 0%, rgba(75, 88, 202, 1) 100%);
  font-weight: bold;
}

.estacion_Hora {
  background: linear-gradient(0deg, rgba(54, 68, 169, 1) 0%, rgba(75, 88, 202, 1) 100%);
  color: goldenrod;
  font-weight: bold;
}

.estacion_Fecha {
  background: linear-gradient(0deg, rgba(39, 52, 146, 1) 0%, rgba(47, 55, 138, 1) 100%);
}