@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #00001c;
  font-family: "Roboto", sans-serif;
  width: 1920px;
  height: 1080px;
  color: white;
  user-select: none;
}

header {
  width: 1920px;
  height: 58px;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 111;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(35 41 46) 22%,
      rgb(36 44 58) 68%,
      rgb(72 92 139) 84%,
      rgb(113 139 182) 100%,
      rgb(132 162 217) 100%);
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 30px;
}

nav img {
  width: 10px;
}

main {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: absolute;
}

section {
  position: absolute;
  top: 0;
  width: 1920px;
  height: 1080px;
}

aside {
  position: absolute;
  z-index: 110;
  width: 600px;
  height: 1080px;
  left: 1320px;
}

.headerBtn__Home,
.headerBtn__Mapa,
.headerBtn__Graficador,
.headerBtn__Login {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: solid rgb(182, 180, 180) 1px;
  cursor: pointer;
}

.headerBtn__Login {
  border: none;
}

.header__active {
  color: rgb(155, 155, 38);
}

.header__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-left: 500px; */
  justify-content: center;
}

.header__title h1 {
  font-size: 25px;
}

.header__title span {
  font-size: 13px;
}

.section__home {
  z-index: 5;
}

.section__vistaMapa {
  z-index: 4;
}

.section__graficador {
  z-index: 3;
}

.section__login {
  z-index: 2;
}

.section__particular {
  z-index: 1;
}

.header__btnRegresar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 15px;
  padding: 20px;
  transition: color 0.4s ease;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.header__btnRegresar img {
  width: 100px;
}

.header__btnRegresar:hover {
  color: goldenrod;
}

.unidades {
  color: white !important;
  font-size: 0.75em;
  letter-spacing: 1px;
}