:root {
  --bolaSlider: url("");
}

.particular__header {
  position: absolute;
  top: 58px;
  display: flex;
  width: 1455px;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgb(36 53 69) 0%,
    rgb(21 21 22 / 94%) 35%,
    rgb(14 83 97 / 99%) 70%,
    rgb(36 49 52) 100%
  );
  align-items: center;
  gap: 51px;
  z-index: 1;
}

.particular__panelControl {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.particular__panelControl img {
  width: 60px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.particular__panelControl img:hover {
  width: 65px;
}

.particular__items {
  width: 900px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  overflow: hidden;
}

.particular__slider {
  width: 210px;
  height: 50px;
  align-items: center;
  position: absolute;
  left: 1100px;
  display: none;
}

.etiqueta__Nombre {
  color: cyan;
  text-align: center;
  display: inline-block;
}
.etiqueta__Valor {
  text-align: center;
  display: inline-block;
}
.etiqueta__Unidad {
  color: goldenrod;
  text-align: center;
  display: inline-block;
}

.tabla__active {
  background: rgba(87, 158, 162, 0.35) !important;
}

.particular__imgSitio {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0px;
}

.particular__imgSitio img {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0px;
}

.particular__ItemsContainer {
  position: absolute;
  left: 180px;
  display: flex;
  max-width: 900px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  font-size: 14px;
}

.particular__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  /* background-color: aliceblue; */
  height: 100%;
  min-width: fit-content;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.header__datos-particular {
  opacity: 0;
  transition: all 0.4s ease;
  font-size: 12pt;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  display: none;
}

.particular__slider input[type="range"] {
  appearance: none;
  width: 250px !important;
  height: 10px;
  display: inline-block;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    rgb(24 49 57) 0%,
    rgb(77 200 124) 50%,
    rgb(20 45 53) 100%
  );
  transform: scale(0.65);
  box-shadow: 0px 4px 5px 0px #0000008f;
}

.particular__slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  background: var(--bolaSlider); 
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.6s ease;
  cursor: pointer;
}

.particular__slider input[type="range"]::-webkit-slider-thumb:hover {
  width: 30px;
  height: 30px;
}

.particular__aguaNivel img {
  width: 1920px;
  height: 1080px;
  top: 0px;
  position: absolute;
}

.nivelAgua__Particular {
  width: 1920px;
  height: 1080px;
  top: 0px;
  position: absolute;
  pointer-events: none;
}

.bomba__Particular {
  width: 1920px;
  height: 1080px;
  top: 0px;
  position: absolute;
  pointer-events: none;
}

#date__particular {
  color: #d09f24;
}


.optimizedsvg {
  shape-rendering: optimizeSpeed;
  position: absolute;
}

.turbulence {
  filter: url(#turbulence);
}