.listaSignalsContainer {
  background-color: #0f131d;
  z-index: 10;
  position: absolute;
  top: 357px;
  left: 1356px;
  height: 247px;
  width: 428px;
  /* background: #0f131d !important; */
  transform: perspective(1200px) scale(1.6) rotateZ(15deg) rotateY(-45deg)
    rotateX(-17deg);
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.signalHeader {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.signalContent {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.signalFooter {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: end;
}

.headerTitleSignal {
  width: 80%;
  height: 100%;
  text-align: center;
  color: goldenrod;
  margin-top: 3px;
}

.headerIcon {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.6s ease;
  
  pointer-events: none;
  opacity: 0;
}

.headerIcon img {
  width: 100%;
  height: 90%;
}
.headerIcon span {
  color: grey;
  opacity: 0.7;
  font-size: 10px;
}

.signalFooterImg {
  height: 100%;
  width: 10%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
  margin-right: 15px;
  cursor: pointer;
}

.signalFooterImg:hover {
  height: 100%;
  width: 10%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.signalItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 25px;
  cursor: pointer;
}

.icon1 {
  height: 100%;
  width: 10%;
}
.icon2 {
  height: 100%;
  width: 10%;
}
.itemSignalName {
  height: 100%;
  width: 80%;
  opacity: 0.8;
  text-align: center;
  margin-top: 13px;
}

.icon1 img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.icon2 img {
  object-fit: contain;
  width: 100%;
  height: 75%;
  margin-top: 7px;
}