* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #00272d;
  overflow: hidden;
  user-select: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #00272d;
  position: fixed;
  top: 0;
}

header h1 {
  font-size: 20px;
}

header h2 {
  font-size: 15px;
}

main {
  width: 100%;
  margin-top: 115px;
}

article {
  width: 100%;
  overflow-y: auto;
  height: 90vh;
}

table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}

thead {
  background-color: #0c7e7e;
  width: 100%;
  height: 25px;
  position: sticky;
  top: 0;
  cursor: pointer;
}

thead th {
  position: sticky;
  top: 0;
  width: 0%;
  color: white;
  font-weight: normal !important;
  font-size: 15px;
  transition: all 0.4s ease;
}

tbody {
  background-color: cornsilk;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: scroll;
}

tbody tr {
  height: 10px;
  border-bottom: rgb(171, 169, 169) solid 1px;
}

tbody tr td {
  font-size: 14px;
}

.pozos__enlinea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: normal;
}

.header__title {
  text-align: center;
  margin-top: 25px;
}

#online {
  color: green !important;
}

/* #offline {
    color: red !important;
  } */

.filtro__active {
  font-weight: bold;
  background-color: #81115e;
  font-weight: bold !important;
}

.enlace-activo,
.enlace-inactivo {
  border-radius: 50px;
  width: 10px;
  height: 10px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.enlace-activo {
  background-color: green;
}

.enlace-inactivo {
  background-color: red;
}

.valor-Bomba {
  width: 10px;
  height: 18px;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
  margin: auto;
}

.time {
  font-size: 9px;
}

.totalTipo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width: 900px) {
  .valor-Bomba {
    width: 7px;
    height: 12px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    margin: auto;
  }
  tbody tr td {
    min-width: 50px;
}
}

.header_titleImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header_titleImg img {
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.modal,
.modalLogin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s 0.4s;
  --transform: translateY(-100vh);
  --transition: transform 0.4s;
  z-index: 11;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.4s;
  --transform: translateY(0);
  --transition: transform 0.4s 0.4s;
}

.modal__container {
  margin: auto;
  width: 600px;
  max-width: 600px;
  max-height: 250px;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
  height: 250px;
}

.modal__title,
.modal__title2,
.modal__title3 {
  font-size: 1.5rem;
  color: white;
}

.modal__paragraph {
  font-size: 1.5rem;
  text-align: center;
}
.modal__paragraph2 {
  font-size: 1rem;
  margin: 0;
  color: white;
}

.modal__img {
  width: 90%;
  max-width: 300px;
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 30px;
}

.modal__close,
.modal__GuardarNota,
.modal__closeLogin,
.modal__confirmarLogin,
.modal__ConsultaNota {
  transition: all ease 1s;
  top: 186px;
  left: 455px;
  background: linear-gradient(
    0deg,
    rgb(234 234 234) 0%,
    rgb(47 45 45) 14%,
    rgb(67 67 67) 57%,
    rgb(133 141 135) 100%
  );
  border-radius: 10px;
  color: white;
  box-shadow: 1px 4px 12px black;
  width: 80px;
  height: 25px;
  text-align: center;
  text-decoration: none;
}

.modal__close:hover,
.modal__GuardarNota:hover,
.modal__closeLogin:hover,
.modal__confirmarLogin:hover,
.modal__ConsultaNota:hover {
  color: goldenrod;
  background-color: #fff;
}

.modal__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.notasContainer {
  max-width: 100%;
  max-height: 40%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
}

.datosLoginContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  padding: 10px;
  color: white;
  font-weight: 700;
}

.log {
  cursor: pointer;
  pointer-events: auto;
}

.Nombre {
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
}