@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: Montserrat;
  src:
    url(../assets/fonts/Moserrat/Montserrat-Medium.ttf),
    url(../assets/fonts/Moserrat/Montserrat-Light.ttf),
    url(../assets/fonts/Moserrat/Montserrat-Black.ttf),
    url(../assets/fonts/Moserrat/Montserrat-Bold.ttf),
    url(../assets/fonts/Moserrat/Montserrat-Italic.ttf);
}

@font-face {
  font-family: GMX;
  src:
    url(../assets/fonts/GMX/GMX-Regular.ttf),
    url(../assets/fonts/GMX/GMX-Black.ttf),
    url(../assets/fonts/GMX/GMX-Bold.ttf),
    url(../assets/fonts/GMX/GMX-Light.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 1920px;
  height: 1080px;
  color: white;
  user-select: none;
  -webkit-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  -webkit-user-drag: none !important;
}

body {
  font-family: Roboto;
  background: #085050;
}

header {
  width: 1920px;
  height: 58px;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 111;
  background: rgb(245, 239, 230);
  background: linear-gradient(90deg, rgb(255 255 255) 0%, rgba(251, 249, 244, 1) 28%, rgba(244, 239, 222, 1) 35%, rgba(241, 234, 215, 1) 46%, rgba(152, 127, 90, 1) 98%);
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 811px;
  text-shadow: 1px 1px 1px black;
}

nav img {
  width: 10px;
}

main {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: absolute;
}

section {
  position: absolute;
  top: 0;
  width: 1920px;
  height: 1080px;
}

aside {
  position: absolute;
  z-index: 110;
  width: 600px;
  height: 1080px;
  left: 1320px;
}

#conagua_med_amb_logo {
  height: 90px;
  position: absolute;
  top: 0px;
  z-index: -1;

}

.Content_on_load {
  display: none;
}

.headerBtn__Home,
.headerBtn__Mapa,
.headerBtn__Graficador,
.headerBtn__Login {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: solid rgb(182, 180, 180) 1px;
  cursor: pointer;
}

.headerBtn__Graficador {
  position: absolute;
  left: 1681px;
}

.headerBtn__Mapa {
  position: absolute;
  left: 1566px;
}

.headerBtn__Home {
  position: absolute;
  left: 1432px;
}

.headerBtn__Login {
  border: none;
  display: flex;
  position: absolute;
  left: 1830px;
}

.header__active {
  color: rgb(155, 155, 38);
}

.header__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: GMX;
  /*color: black;*/
  color: cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
  /*top: 10px;*/
  left: 804px;
}

.header__title h1 {
  font-size: 25px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-transform: uppercase;
  top: 50px;
}

.conagua_logos {
  display: flex;
}

.section__home {
  z-index: 5;
}

.section__vistaMapa {
  z-index: 4;
}

.section__graficador {
  z-index: 3;
}

.section__login {
  z-index: 2;
}

.section__particular {
  z-index: 1;
}

.header__btnRegresar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 15px;
  padding: 20px;
  transition: color 0.4s ease;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
  position: absolute;
    left: 1180px;
    top: 40px;
}

.header__btnRegresar img {
  width: 100px;
}

.header__btnRegresar:hover {
  color: goldenrod;
}

.unidades {
  color: white !important;
  font-size: 0.75em;
  letter-spacing: 1px;
}

/*Texto Mantenimeinto*/

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

}

.txtProximamnete {
  height: 70vh;
  width: 70vw;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 150px;
  color: hsl(230, 100%, 95%);
  animation: lights 5s 750ms linear infinite;
}

/* loading Screen */
:root {
  --border-width: 7px;
}

.sec-loading {
  z-index: 6;
  height: 70vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-loading .one {
  height: 80px;
  width: 80px;
  border: var(--border-width) solid white;
  transform: rotate(45deg);
  border-radius: 0 50% 50% 50%;
  position: relative;
  animation: move 0.5s linear infinite alternate-reverse;
}

.sec-loading .one::before {
  content: "";
  position: absolute;
  height: 55%;
  width: 55%;
  border-radius: 50%;
  border: var(--border-width) solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
}

.textloading {
  align-content: center;
  text-align-last: center;
  font-size: xx-large;
  margin-left: -40px;
}

.containerLoading {
  display: none;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes move {
  to {
    transform: translateY(15px) rotate(45deg);
  }
}