:root {
  --bolaSlider: url("");
}

.particular__header {
  right: 715px;
  position: absolute;
  top: 58px;
  display: flex;
  width: 604px;
  height: 80px;
  background: linear-gradient(90deg, rgba(14, 83, 97, 0.303) 0%, rgba(14, 83, 97, 0.84) 35%, rgba(14, 83, 97, 0.84) 70%, rgba(14, 83, 97, 0.303) 100%);
  align-items: center;
  z-index: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.particular__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.etiqueta__Nombre {
  color: cyan;
  text-align: end;
  display: inline-block;
  margin-top: 3px;
  font-size: 12px;
}

.etiqueta__Valor {
  text-align: end;
  display: inline-block;
  margin-right: 4px;
  margin-left: 10px;
}

.etiqueta__Altura {
  text-align: start;
  display: inline-block;
  font-size: 12px;
  margin-top: 3px;
}

.etiqueta__Unidad {
  color: goldenrod;
  text-align: center;
  display: inline-block;
}

.tabla__active {
  background: rgba(87, 158, 162, 0.35) !important;
}

.particular__imgSitio {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0px;
}

.particular__imgSitio img {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0px;
}

.particular__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 70px;
  right: 15px;
  justify-content: flex-end;
  width: 390px;
  margin-right: 15px;
}

.particular__aguaNivel img {
  width: 1920px;
  height: 1080px;
  top: 0px;
  position: absolute;
}

.nivelAgua__Particular {
  width: 1920px;
  height: 1080px;
  top: 0px;
  position: absolute;
  pointer-events: none;
}

.bomba__Particular {
  width: 1920px;
  height: 1080px;
  top: 0px;
  position: absolute;
  pointer-events: none;
}

#nombre__particular {
  font-size: 22px;
}

#interceptor__particular {
  font-size: 25px;
}

.info__header_part {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.optimizedsvg {
  shape-rendering: optimizeSpeed;
  position: absolute;
}

.turbulence {
  filter: url(#turbulence);
}

.fallaAcParticular {
  position: absolute;
  left: 1105px;
  width: 45px;
}

#particularTextoImg {
  z-index: 1;
  pointer-events: none;
}

.barraNivelContainer {
  width: 80px;
  height: 400px;
  position: absolute;
  bottom: 100px;
  right: 25px;
}

.barraNivel {
  width: 20px;
  height: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: cadetblue;
  border-radius: 10px;
}

.barraContainer {
  width: 20px;
  height: 330px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 1px solid cadetblue;
  border-radius: 10px;
}

.valorNivel {
  width: 150px;
  height: 35px;
  border: 1px solid blue;
  position: absolute;
  top: 50px;
  right: 0px;
}

.barra_particular1 {
  right: 20px;
  bottom: 100px;
}

.barra_particular2 {
  right: 90px;
  bottom: 70px;
}

.barra_particular3 {
  right: 160px;
  bottom: 40px;
}

.barra_particular4 {
  right: 230px;
  bottom: 10px;
}