:root {
  --bolaSlider: url("");
}

.particular__header {
  right: 715px;
  position: absolute;
  top: 58px;
  display: flex;
  width: 604px;
  height: 80px;
  background: linear-gradient(90deg, rgba(14, 83, 97, 0.303) 0%, rgba(14, 83, 97, 0.84) 35%, rgba(14, 83, 97, 0.84) 70%, rgba(14, 83, 97, 0.303) 100%);
  align-items: center;
  z-index: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.particular__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.etiqueta__Nombre {
  color: cyan;
  text-align: center;
  display: inline-block;
}

.etiqueta__Valor {
  text-align: center;
  display: inline-block;
}

.etiqueta__Unidad {
  color: goldenrod;
  text-align: center;
  display: inline-block;
}

.tabla__active {
  background: rgba(87, 158, 162, 0.35) !important;
}

.particular__imgSitio {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0px;
}

.particular__imgSitio img {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0px;
}

.particular__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.particular__aguaNivel img {
  width: 1920px;
  height: 1080px;
  top: 0px;
  position: absolute;
}

.nivelAgua__Particular {
  width: 1920px;
  height: 1080px;
  top: 0px;
  position: absolute;
  pointer-events: none;
}

.bomba__Particular {
  width: 1920px;
  height: 1080px;
  top: 0px;
  position: absolute;
  pointer-events: none;
}

#nombre__particular {
  font-size: 22px;
}

#interceptor__particular {
  font-size: 25px;
}

.info__header_part {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.optimizedsvg {
  shape-rendering: optimizeSpeed;
  position: absolute;
}

.turbulence {
  filter: url(#turbulence);
}

.fallaAcParticular {
  position: absolute;
  left: 1105px;
  width: 45px;
}

#particularTextoImg {
  z-index: 1;
  pointer-events: none;
}