* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #0077b6;
  color: white;
  padding: 1rem;
  text-align: center;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex: 1;
  background-color: #b2c8d3;
}

