.curved-table-container {
    width: 1920px;
    height: 1080px;
    background-color: aquamarine;
    position: absolute;
    top: 0px;
    left: 0px;
}

.fondo-tabla {
    width: 600px;
    position: absolute;
    left: 1320px;
    top: 0px;
    height: 1080px;
}

.title-table {
    position: absolute;
    top: 76px;
    left: 1488px;
    font-size: 35px;
    font-family: "RobotoCondensadaRegular";
    color: goldenrod;
}

.curved-tBody {
    background: crimson;
    top: 142px;
    width: 325px;
    height: 800px;
    left: 1400px;
    position: absolute;
}

.resumen-tabla {
    height: 40px;
    position: absolute;
    bottom: 60px;
    left: 1424px;
    font-size: 14px;
}

.contenedor-resumen {
    background-size: cover !important;
    color: #dda65e;
    padding: 3.5px;
    width: 237px;
    display: flex;
    background: url(http://w1.doomdns.com:11002/RecursosWeb/Client/TanquesMagdalenaContreras/General/Summary.png?v=10);
}

/* borrar */
.gradientHeaderHover {
    background: crimson;
    top: 0px;
    width: 1920px;
    height: 58px;
    left: 0px;
    position: absolute;
}